$colorBlanco: #FFFECB;
$colorGris: #cecece;
$colorAzulSuave: #C4E0F9;
$colorAzul: #0187A5;
$colorAzul58: #0187a58f;
$colorAzulFuerte: #1D1D41;
$colorAzulFuerteBack: #30306d;
$tipografia: 'Baloo Thambi 2', cursive;

